.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #fff; 
  overflow-y: auto;  
}

.col {
  margin-left: 250px; 
  overflow-y: auto;
}
.logo {
  font-size: 4rem !important;
  color: black !important;
}
.nav-active-list {
  background-color: var(--indigo-color);
  color: white !important;
}
.nav-list:hover {
  background-color: var(--blue-hover);
}
.nav-list .nav-link:hover {
  color: var(--indigo-color) !important;
}
